/* Structure:
 *
 * Styling uses a "desktop-first" approach: Focus on the full site experience then
 * scale down the experience as the viewport gradually gets shorter
 *
 * - Fonts
 * - Root definitions and styles
 * - General styles
 * - Utilities
 * - Sitewide e.g. styling for specific elements that will be used across the site
 * - Sections for each specific things used in the site (Context, page, component etc.)
 */

/* Notes
 *
 * - Assume 1rem = 16px
 *
 */

/* || FONTS */

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/InterVariable.woff2') format('woff2');
}

@font-feature-values InterVariable {
    @character-variant {
        cv01: 1; cv02: 2; cv03: 3; cv04: 4; cv05: 5; cv06: 6; cv07: 7; cv08: 8;
        cv09: 9; cv10: 10; cv11: 11; cv12: 12; cv13: 13;
        alt-1:            1; /* Alternate one */
        alt-3:            9; /* Flat-top three */
        open-4:           2; /* Open four */
        open-6:           3; /* Open six */
        open-9:           4; /* Open nine */
        lc-l-with-tail:   5; /* Lower-case L with tail */
        simplified-u:     6; /* Simplified u */
        alt-double-s:     7; /* Alternate German double s */
        uc-i-with-serif:  8; /* Upper-case i with serif */
        uc-g-with-spur:  10; /* Capital G with spur */
        single-story-a:  11; /* Single-story a */
        compact-lc-f:    12; /* Compact f */
        compact-lc-t:    13; /* Compact t */
    }
    @styleset {
        ss01: 1; ss02: 2; ss03: 3; ss04: 4; ss05: 5; ss06: 6; ss07: 7; ss08: 8;
        open-digits: 1;                /* Open digits */
        disambiguation: 2;             /* Disambiguation (with zero) */
        disambiguation-except-zero: 4; /* Disambiguation (no zero) */
        round-quotes-and-commas: 3;    /* Round quotes &amp; commas */
        square-punctuation: 7;         /* Square punctuation */
        square-quotes: 8;              /* Square quotes */
        circled-characters: 5;         /* Circled characters */
        squared-characters: 6;         /* Squared characters */
    }
}

/* || ROOT */

:root {
    --main-background-color: black;
    --main-foreground-color: white;
    --main-foreground-hover-color: #999999;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --logo-red-color: #F91F1F;
    --logo-yellow-color: #FFFF1A;
    --logo-green-color: #1FFA1F;
    --logo-blue-color: #1AFFFF;

    --logo-rainbow-color-gradient: linear-gradient(var(--logo-red-color), var(--logo-yellow-color), var(--logo-green-color), var(--logo-blue-color));

    --h1-font-size: 3.5rem;
    --h2-font-size: 3rem;

    --cta-font-size: 1rem;

    --top-header-font-size: 2rem;

    --section-padding: 2.5rem;

    --home-top-header-h1-font-size: 3.5rem;
    --home-top-header-cta-font-size: 1.5rem;
    --home-top-header-stack-item-spacing: 2rem;
    --home-top-header-whitespace-container-rows: auto auto auto;
    --home-top-header-whitespace-container-columns: auto;

    --whitespace-container-horizontal-padding: 5rem;
    --whitespace-container-vertical-padding: 2rem;

    --sticky-action-bar-top-padding: 2rem;
    --sticky-action-bar-bottom-padding: 1rem;
    --sticky-action-bar-right-padding: 2.5rem;

    --top-nav-vertical-padding: 2.25rem;
    --top-nav-horizontal-padding: 2.5rem;
    --top-nav-font-size: 2rem;

    --community-grid-columns: 4;
    --community-grid-column-width: 4rem;
    --community-grid-row-height: 4rem;
    --community-grid-gap: 2.5rem;

    --home-content-grid-rows: auto 1fr;
    --home-content-grid-columns: auto 25rem;

    --table-of-contents-font-size: 2rem;
    --table-of-contents-h2-font-size: 2.5rem;
    --table-of-contents-list-item-spacing: 0.75rem;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

/* || GENERAL STYLES */

*,
::before,
::after {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-foreground-color);
    margin: 0;
}

a {
    color: var(--main-foreground-color);
}

a:hover {
    color: var(--main-foreground-hover-color);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.08em;
    line-height: 1;
}

h2 {
    font-size: var(--h2-font-size);
    letter-spacing: -0.06em;
    font-weight: var(--font-weight-bold);
}

section {
    padding-right: var(--section-padding);
    padding-left: var(--section-padding);
}

main section > * {
    max-width: min(80%, 50rem);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

/* || UTILITIES */

.fill-viewport {
    width: 100%;
    min-height: 100dvh;
}

.whitespace-container {
    padding-left: var(--whitespace-container-horizontal-padding);
    padding-right: var(--whitespace-container-horizontal-padding);
}

/* || SITEWIDE */
#top-nav {
    padding-top: var(--top-nav-vertical-padding);
    padding-bottom: var(--top-nav-vertical-padding);
    padding-right: var(--top-nav-horizontal-padding);
    padding-left: var(--top-nav-horizontal-padding);
    font-weight: var(--font-weight-medium);
    font-size: var(--top-nav-font-size);
    letter-spacing: -0.08em;
}

#top-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#top-nav ul li:not(:first-child) {
    margin-left: 1.5rem;
}

#top-nav ul li {
    list-style-type: none;
}

#top-nav a {
    text-decoration: none;
}

/* || CTAs (CALL-TO-ACTION) */

.cta-primary,
.cta-secondary {
    text-decoration: none;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--cta-font-size);
    display: inline-flex;
    align-items: center;
}

.cta-primary > :not(:last-child),
.cta-secondary > :not(:last-child) {
    margin-right: 0.5rem;
}

.cta-primary .icon,
.cta-secondary .icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: white;
}

.cta-primary {
    --cta-primary-hover-background-color: white;
    --cta-primary-hover-foreground-color: black;

    border-radius: 0.5rem;
    background-color: black;
    border: 0.125rem solid white;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 1rem;
    padding-left: 1.5rem;
}

.cta-primary:hover {
    background-color: var(--cta-primary-hover-background-color);
    color: var(--cta-primary-hover-foreground-color);
}

.cta-primary:hover .icon {
    fill: var(--cta-primary-hover-foreground-color);
}

.cta-secondary:hover .icon {
    fill: var(--main-foreground-hover-color);

}

/* || HOME PAGE HEADER */

.home-top-header {
    display: flex;
    flex-direction: column;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--top-header-font-size);
}

.home-top-header .whitespace-container {
    display: grid;
    grid-template-rows: var(--home-top-header-whitespace-container-rows);
    grid-template-columns: var(--home-top-header-whitespace-container-columns);
    flex: 1;
    padding-bottom: var(--whitespace-container-vertical-padding);
    align-content: start;
}

.home-top-header h1 {
    font-size: var(--home-top-header-h1-font-size);
    text-transform: uppercase;
}

.home-top-header #logo {
    width: 100%;
    height: auto;
    max-width: 47dvh;
}

.home-top-header .stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-top-header .stack > * {
    margin-bottom: var(--home-top-header-stack-item-spacing);
}

.home-top-header .stack > :last-child {
    margin-bottom: 0;
}

.home-top-header .cta-primary,
.home-top-header .cta-secondary
{
    font-size: var(--home-top-header-cta-font-size);

}

.home-top-header .cta-primary .icon,
.home-top-header .cta-secondary .icon {
    width: 2rem;
    height: 2rem;
}


/* TABLE OF CONTENTS */
.table-of-contents {
    font-size: var(--table-of-contents-font-size);
}

.table-of-contents h2 {
    font-size: var(--table-of-contents-h2-font-size);
}

.table-of-contents ul {
    margin: 0;
    padding: 0;
}

.table-of-contents ul li {
    list-style-type: none;
    margin-bottom: var(--table-of-contents-list-item-spacing);
    text-decoration: none;
}

.table-of-contents a {
    text-decoration: none;
}

/* || HOME PAGE CONTENT GRID */

.home-content-grid {
    display: grid;
    grid-template-rows: var(--home-content-grid-rows);
    grid-template-columns: var(--home-content-grid-columns);
}

.home-content-grid .sticky-action-bar {
    position: sticky;
    top: 0;
    grid-column: 1 / 3;
    text-align: right;
    padding-top: var(--sticky-action-bar-top-padding);
    padding-bottom: var(--sticky-action-bar-bottom-padding);
    padding-right: var(--sticky-action-bar-right-padding);
}

.home-content-grid main {
    grid-row-start: 2;
    grid-column-start: 1
}

.home-content-grid .table-of-contents {
    position: sticky;
    top: 6.5rem;
    grid-row-start: 2;
    grid-column-start: 2;
    height: calc(100dvh - 6.5rem);
}

.home-content-grid .table-of-contents::before {
    content: "";
    position: absolute;
    display: block;
    top: 2rem;
    bottom: 4rem;
    width: 1px;
    background: var(--logo-rainbow-color-gradient);
    left: -2.5rem;
}

/* || COMMUNITY GRID */

.community-grid {
    display: grid;
    grid-template-columns: repeat(var(--community-grid-columns), var(--community-grid-column-width));
    grid-auto-rows: var(--community-grid-row-height);
    gap: var(--community-grid-gap);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.community-grid a {
    text-decoration: none;
}

.community-grid li > a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--font-weight-medium);
}

.community-grid .icon {
    fill: white;
    width: var(--community-grid-column-width);
    height: var(--community-grid-row-height);
}

/* || MEDIA QUERIES */

@media (max-width: 79rem) or (max-height: 63rem) {
    :root {
        --top-nav-vertical-padding: 1rem;
        --top-nav-horizontal-padding: 1.25rem;
        --top-nav-font-size: 1rem;

        --top-header-font-size: 1rem;

        --whitespace-container-horizontal-padding: 1rem;
        --whitespace-container-vertical-padding: 1rem;

        --home-top-header-h1-font-size: 2rem;
        --home-top-header-cta-font-size: 1.5rem;
        --home-top-header-stack-item-spacing: 1rem;
        --home-top-header-whitespace-container-rows: auto 1fr auto;
    }

    #top-nav {
        font-size: var(--top-nav-font-size);
    }

    #top-nav ul li:not(:first-child) {
        margin-left: 0.5rem;
    }

    .home-top-header .stack {
        flex-direction: row;
        align-items: center;
        justify-self: flex-end;
        align-self: flex-end;
    }

    .home-top-header .whitespace-container {
        align-content: stretch;
    }

    .home-top-header .stack > * {
        margin-bottom: 0;
        margin-right: var(--home-top-header-stack-item-spacing);
    }
}

@media (max-width: 79rem) {
    :root {
        --h2-font-size: 1.75rem;

        --section-padding: 1.25rem;

        --sticky-action-bar-top-padding: 1rem;
        --sticky-action-bar-bottom-padding: 1rem;
        --sticky-action-bar-right-padding: 1.25rem;

        --community-grid-columns: 2;
        --community-grid-gap: 1rem;

        --home-content-grid-columns: auto;
    }

    main section > * {
        max-width: none;
    }

    .home-content-grid main {
        grid-column: 1/3;
    }

    .home-content-grid .table-of-contents {
        display: none;
        width: 0;
        grid-column: none;
    }
}

@media (max-width: 50rem) {
    :root {
        --home-top-header-stack-item-spacing: 2rem;
    }

    .home-top-header .stack {
        align-items: stretch;
        text-align: center;
        justify-self: stretch;
        flex-direction: column;
    }

    .home-top-header .stack > * {
        margin-right: 0;
        margin-bottom: var(--home-top-header-stack-item-spacing);
    }

    .home-top-header .stack > :last-child {
        margin-bottom: 0;
    }
    .home-top-header .cta-primary,
    .home-top-header .cta-secondary {
        justify-content: center;
    }

}

@media (max-width: 32rem) {
    .home-top-header #logo {
        width: 100%;
        height: auto;
        margin: 0 auto;
        max-width: 59.30232558139535dvh;
        max-height: 50dvh;
    }
}

@media (max-height: 35rem) {
    :root {
        --home-top-header-whitespace-container-rows: auto;
        --home-top-header-whitespace-container-columns: auto 1fr;
    }

    .home-top-header .description {
        margin-left: 1rem;
    }

    .home-top-header .stack {
        grid-column: 1/3;
    }
}
