/* Structure:
 *
 * Styling uses a "desktop-first" approach: Focus on the full site experience then
 * scale down the experience as the viewport gradually gets shorter
 *
 * - Fonts
 * - Root definitions and styles
 * - General styles
 * - Utilities
 * - Sitewide e.g. styling for specific elements that will be used across the site
 * - Sections for each specific things used in the site (Context, page, component etc.)
 */

/* Notes
 *
 * - Assume 1rem = 16px
 *
 */


/* || FONTS */

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/InterVariable.woff2') format('woff2');
}

@font-feature-values InterVariable {
    @character-variant {
        cv01: 1; cv02: 2; cv03: 3; cv04: 4; cv05: 5; cv06: 6; cv07: 7; cv08: 8;
        cv09: 9; cv10: 10; cv11: 11; cv12: 12; cv13: 13;
        alt-1:            1; /* Alternate one */
        alt-3:            9; /* Flat-top three */
        open-4:           2; /* Open four */
        open-6:           3; /* Open six */
        open-9:           4; /* Open nine */
        lc-l-with-tail:   5; /* Lower-case L with tail */
        simplified-u:     6; /* Simplified u */
        alt-double-s:     7; /* Alternate German double s */
        uc-i-with-serif:  8; /* Upper-case i with serif */
        uc-g-with-spur:  10; /* Capital G with spur */
        single-story-a:  11; /* Single-story a */
        compact-lc-f:    12; /* Compact f */
        compact-lc-t:    13; /* Compact t */
    }
    @styleset {
        ss01: 1; ss02: 2; ss03: 3; ss04: 4; ss05: 5; ss06: 6; ss07: 7; ss08: 8;
        open-digits: 1;                /* Open digits */
        disambiguation: 2;             /* Disambiguation (with zero) */
        disambiguation-except-zero: 4; /* Disambiguation (no zero) */
        round-quotes-and-commas: 3;    /* Round quotes &amp; commas */
        square-punctuation: 7;         /* Square punctuation */
        square-quotes: 8;              /* Square quotes */
        circled-characters: 5;         /* Circled characters */
        squared-characters: 6;         /* Squared characters */
    }
}

/* || ROOT */

:root {
    --main-background-color: black;
    --main-foreground-color: white;
    --font-weidght-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --logo-red-color: #F91F1F;
    --logo-yellow-color: #FFFF1A;
    --logo-green-color: #1FFA1F;
    --logo-blue-color: #1AFFFF;

    --logo-rainbow-color-gradient: linear-gradient(var(--logo-red-color), var(--logo-yellow-color), var(--logo-green-color), var(--logo-blue-color));

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}


/* || GENERAL STYLES */

*,
::before,
::after {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-foreground-color);
    margin: 0;
}

a {
    color: var(--main-foreground-color);

}

h1 {
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.08em;
    line-height: 1;
}

h2 {
    font-size: 3rem;
    letter-spacing: -0.06em;
    font-weight: var(--font-weight-bold);
}

section {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

main section > * {
    max-width: min(80%, 50rem);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

/* || UTILITIES */

.fill-viewport {
    width: 100%;
    height: 100dvh;
}

.whitespace-container {
    padding-bottom: 2.25rem;
    margin-right: 5rem;
    padding-left: 5rem;
}

.content-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 25rem;
}

/* || SITEWIDE */
#top-nav {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    font-weight: var(--font-weight-medium);
    font-size: 2rem;
    letter-spacing: -0.08em;
}

#top-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#top-nav ul li:not(:first-child) {
    margin-left: 1.5rem;
}

#top-nav ul li {
    list-style-type: none;
}

#top-nav a {
    text-decoration: none;
}

/* || HOME PAGE HEADER */

.home-top-header {
    font-weight: var(--font-weight-semi-bold);
    font-size: 2rem;
}

.home-top-header h1 {
    font-size: 3.5rem;
}

.home-top-header #logo {
    width: 100%;
    height: auto;
    max-width: 47dvh;
}

.home-top-header h1 {
    text-transform: uppercase;
}

.home-top-header .stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-top-header .stack > * {
    margin-bottom: 2rem;
}


/* || CTAs (Call-to-action) */

.cta-primary,
.cta-secondary {
    text-decoration: none;
}

.cta-primary {
    border-radius: 0.5rem;
    background-color: black;
    border: 0.125rem solid white;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}


.sticky-action-bar {
    position: sticky;
    top: 0;
    grid-column: 1 / 3;
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.content-grid main {
    grid-row-start: 2;
    grid-column-start: 1
}

/* Table of contents */
.table-of-contents h2 {
    font-size: 2.5rem;
}

.table-of-contents {
    font-size: 2rem;
}

.content-grid .table-of-contents {
    position: sticky;
    top: 2rem;
    grid-row-start: 2;
    grid-column-start: 2;
    height: calc(100dvh - 2rem);
}

.content-grid .table-of-contents::before {
    content: "";
    position: absolute;
    display: block;
    top: 1rem;
    bottom: 4rem;
    width: 1px;
    background: var(--logo-rainbow-color-gradient);
    left: -2.5rem;
}


